body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("fondo1.jpg"); 
 background-size: cover;
 background-position: center;
 background-attachment: fixed; 
}
  

#header {
  text-align: center;
  padding: 20px;
}

#h1 {
  font-size: 2.8em;
  color: #4b2e2e;
  margin-bottom: 10px;
  font-family: 'Cinzel Decorative', cursive; 
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

#botones {
  margin: 15px;
}

#botones a {
  text-decoration: none;
}

#botones button {
  background-color: #8b5e3c; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; 
  margin: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

#botones button:hover {
  background-color: #6b4329;
}

#contenido {
  background-color: rgba(210, 180, 140, 0.9);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  text-align: justify;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#imagenes {
  text-align: center;
  margin: 20px;
}

#imagenes img {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
